@media screen and ( max-height: 780px ){
  body, html {
    font-size: 0.8rem;
  }
}

.wf-loading {
  display: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.section {
  font-family: "adobe-garamond-pro", sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 1.764rem;
  width: 10.836rem;
  letter-spacing: 0.2646rem;
  cursor: pointer;
  transition: all 0.4 ease;
}

.header-name {
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo img {
  margin-left: -6.7rem;
  margin-top: 3.213rem;
  width: 2.4rem;
}

.name {
  display: inline-block;
  margin-left: -0.7rem;
}

.name img {
  padding-bottom: 0.126rem;
  width: 28.98rem;
}

.header-section {
  text-align: center;
  margin-top: 0.315rem;
  color: #6D6E71;
}

.content {
  text-align: center;
  margin-top: 2.142rem;
}

.subcontent {
  display: inline-block;
  text-align: left;
  width: 29.862rem;
}

.subheader {
  font-family: "lato", serif;
  color: #A09F9F;
  font-size: 2.52rem;
  font-weight: 300;
  letter-spacing: 0.2835rem;
}

.list {
  margin-left: 1.26;
  margin-top: 0.63rem;
  margin-bottom: 1.701rem;
  list-style: none;
}

.bullet {
  margin-bottom: 0.252rem;
  cursor: pointer;
  color: #6D6E71;
  padding-top: 0.26rem;
  padding-bottom: 0.315rem;
  display: block;
}

.bullet-image {
  display: inline-block;
  width: 3.15rem;
  text-align: right;
  margin-right: 1.512rem;
  vertical-align: middle;
}

.link {
  position: relative;
  display: inline-block;
}

.bullet-text {
  font-family: "adobe-garamond-pro", sans-serif;
  vertical-align: middle;
  font-size: 2.079rem;
}

.link:before {
  content: "";
  background: #FF7700;
  position: absolute;
  width: 100%;
  height: 0.189rem;
  bottom: 0;
  transform: scaleX(0);
  animation: 0.6s forwards no-hover-v ease;
  animation-fill-mode: forwards;
  z-index: -1;
}

.bullet:hover .bullet-text,
.section:hover {
  color: #333132;
}

.bullet:hover .link:before,
.section:hover .link:before {
  animation: .4s forwards hover-v ease;
  animation-fill-mode: forwards;
}

.section:hover {
  /*padding-top: 0.3rem;*/
}

.bullet {
  transition: all 0.5s ease;
  display: inline-block;
  padding-right: 0.63rem;
  position: relative;
}

.bullet:before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.315rem;
  bottom: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.bullet:hover {
  padding-left: 0.63rem;
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
  }
  52% {   
    transform: scaleX(1.1);
  }
  55% {
  }
  100% {
    transform: scaleX(1.05);
  }
}


.footer {
  margin-left: auto;
  margin-right: auto;
  width: 29.61rem;
  margin-top: 0.882rem;
}

.footer hr {
  border: solid #6D6E71 0.063rem;
}

.footer-icons {
  text-align: right;
}

.footer-icons [class^="icon-"] {
  margin-right: 1.5rem;
  vertical-align: middle;
  color: #6D6E71;
  cursor: pointer;
  transition: all 0.4s ease;
}

.footer-icons [class^="icon-"]:hover {
  color: #FF7700;
}

.footer-copyright {
  display: inline-block;
  font-family: "lato", serif;
  font-weight: 300;
  font-size: 1.134rem;
  margin-right: 0.441rem;
  letter-spacing: 0.0945rem;
  vertical-align: middle;
  color: #6D6E71;
}

.copy {
  color: #A09F9F;
}

@font-face {
    font-family: 'df';
    src:    url('fonts/df.eot?7hrcpp');
    src:    url('fonts/df.eot?7hrcpp#iefix') format('embedded-opentype'),
        url('fonts/df.ttf?7hrcpp') format('truetype'),
        url('fonts/df.woff?7hrcpp') format('woff'),
        url('fonts/df.svg?7hrcpp#df') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'df' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 2.079rem;
  width: 3.465rem;
  height: 2.079rem;

  transition: all 0.3s ease-out;
}

[class^="icon-"]:before,
[class^="icon-"]:after {
  display: block;
  position: absolute;
}

[class^="icon-"]:before {
  opacity: 0.646;
}

.bullet:hover [class^="icon-"] {
  color: #FF7700;
}


.icon-coding:before {
  content: "\e900";
}
.icon-coding:after {
  content: "\e901";
}
.icon-design:before {
  content: "\e902";
}
.icon-design:after {
  content: "\e903";
}
.icon-experience:before {
  content: "\e904";
}
.icon-experience:after {
  content: "\e905";
}
.icon-hobbies:before {
  content: "\e906";
}
.icon-hobbies:after {
  content: "\e907";
}
.icon-music:before {
  content: "\e908";
}
.icon-music:after {
  content: "\e909";
}
.icon-projects:before {
  content: "\e90a";
}
.icon-projects:after {
  content: "\e90b";
}
.icon-writing:before {
  content: "\e90c";
}
.icon-writing:after {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-mail:after {
  content: "\e910";
}
.icon-github:before {
  content: "\e911";
}
.icon-github:after {
  content: "\e90e";
}

.background-red {
  text-align: center;
}

.background-red img {
  position: fixed;
  left: 20%;
  width: 60%;
  opacity: 0.6;
}