body {
  padding: 2em;
  min-width: 450px;
  font-family: 'Libre Baskerville', serif;
  color: #6d6d6d;
}

.container {
  display: inline-block;
  margin-top: 2em;
  position: relative;
}

.image {
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 20px #9D9D9D;
  width: 300px;
}

.normal {
  position: relative !important;
  z-index: 1 !important;
}

.bar {
  width: 429px;
  height: 23px;
}

.gold-grad {
  background: -moz-linear-gradient(left, #debd4a 0%, #6b5b37 50%, #382902 100%);
  background: -webkit-linear-gradient(left, #debd4a 0%,#6b5b37 50%,#382902 100%);
  background: linear-gradient(to right, #debd4a 0%,#6b5b37 50%,#382902 100%);
}

.blue-grad {
  background: -moz-linear-gradient(left, #fffeef 0%, #7e8caf 50%, #5269b2 100%);
  background: -webkit-linear-gradient(left, #fffeef 0%,#7e8caf 50%,#5269b2 100%);
  background: linear-gradient(to right, #fffeef 0%,#7e8caf 50%,#5269b2 100%);
}

.slider-bar {
  width: 429px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.opaque {
  height: 46px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.true {
  height: 23px;
  width: 16px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  background: Gold;
  z-index: 1;
  pointer-events: none;
  box-sizing: border-box;
  border-left: solid 2px rgba(0, 0, 0, 0.5);
  border-right: solid 2px rgba(0, 0, 0, 0.5);
}

.top {
  background: #6b5b37;
  border-top: solid 2px rgba(0, 0, 0, 0.5);
}

.bottom {
  background: #7e8caf;
  margin-top: 23px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 429px;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 46px;
  margin: 0;
  z-index: 3;
  padding: 0;
  width: 16px;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 46px;
  margin-top: -51px;
  cursor: pointer;
  margin: -51px 0 0 0;
  padding: 0;
  background: none;
  z-index: 1;
}

.text {
  display: table;
  width: 429px;
  table-layout: fixed;
  margin-bottom: 8px;
}

.fancy {
  display: table-cell;
  font-size: 13px;
}

.left {
    text-align: left;
}

.normal {
    text-align: center;
}

.right {
    text-align: right;
}

.arrow {
  vertical-align: text-top;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    text-align: left;
    margin: 2em 40px 1em 40px;
    color: #383737;
}

p {
    font-size: 16px;
    text-align: left;
    margin: 2em 40px;
    line-height: 1.75;
}

.caption {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: #2B2B2B;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 9px;
}

.reset {
    outline: none;
    background: none;
    border: solid 2px Whitesmoke;
    border-radius: 6px;
    padding: 0.5em 2em;
    font-family: Arial, sans-serif;
    font-weight: Bold;
    font-size: 13px;
    color: Gray;
    cursor: pointer;
    margin-top: 15px;
}

.thumb {
  width: 86px;
  position: absolute;
  top: 0;
  left: -100px;
  box-shadow: 0 0 10px Gainsboro;
  cursor: pointer;
  border: solid 1px Transparent;
}

.thumb:hover {
  -webkit-filter: brightness(0.8);
}

.reset:disabled {
  opacity: 0;
  cursor: inherit;
}

.reset:hover {
  border: solid 2px #CDCDCD;
  color: #1E1E1E;
  box-shadow: 0 0 5px #CCCCCC;
}

.triangle {
  margin-left: 189px;
  margin-top: -76px;
  z-index: 5;
  position: absolute;
  text-align: center;
  width: 50px;
}

.drag-bar {
  background: Transparent;
  width: 100%;
  height: 46px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.dragevent {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 20;
    background: Transparent;
}