body {
  font-family: 'Cutive Mono', monospace;
  margin: 0;
  padding: 0;
  background: #f0fcff;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  font-size: 2em;
  margin-top: 2em;
}

.numbers {
  margin-top: 1em;
  text-align: center;
}

.number {
  font-size: 2.5em;
  background: rgba(245, 201, 118, 0.51);
  text-align: center;
  width: 1.6em;
  display: inline-block;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.51);
  margin: 0.2em 0.9%;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease;
}

.number:before {
  content: '';
  display: block;
  position: absolute;
  left:0;
  right:-2px;
  top:0;
  bottom:-2px;
  z-index:-1;
  border-radius:4px;
  background:#d2d2d2;
  transition: all 0.2s ease;
}

.number:hover {
  background: rgba(245, 201, 118, 1);
  color: rgba(0, 0, 0, 1);
}

.number:hover:before {
  background:#5a5a5a;
  left:4px;
  right:-4px;
  top:4px;
  bottom:-4px;
}

.bar {
  width: 9%;
  height: 2px;
  background: rgba(245, 201, 118, 0.51);
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
}

.histogram {
  width: 100%;
}

.histogram.finished .bar {
  background: rgba(245, 201, 118, 1);
}

.results-text {
    font-size: 1.5em;
    margin-top: 2em;
    color: Gray;
}